/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Maksukortti/dist/
/Pong/target/
/Pong/nbproject/
/Pong/config.properties
/Pong/test.properties
/Pong/highscores.mv.db
/Pong/highscores.trace.db
/Pong/test.mv.db
/Pong/test.trace.db